# ==================== Vivado 编译中间过程 & 缓存 (通用通配) ====================
**/*.cache/
**/*.gen/
**/*.hw/
**/*.ip_user_files/
**/*.runs/
**/*.sim/
**/xsim.dir/
**/.Xil/
**/.vivado/

# ==================== 临时日志、分析与报告文件 ====================
*.jou
*.log
*.str
*.wdb
*.pb
*.dcp
xvlog.*
NA/
webtalk*.xml
usage_statistics_webtalk*.xml

# ==================== 大型二进制产物 ====================
*.bit
*.ltx

# ==================== 硬件描述文件 (PL/PS 协同核心) ====================
# 如果你想忽略临时导出的 xsa，但必须保留给 PS 用的 top.xsa，请使用以下规则：
*.xsa
!top.xsa
!**/top.xsa