# ==================== Vitis 编译产物 (通用通配，改名无需变动) ====================
**/Debug/
**/Release/
**/export/
**/hw/
**/tempdsa/
**/_ide/

# ==================== Vitis 工作区临时文件 & 日志 ====================
.metadata/
RemoteSystemsTempFiles/
.analytics
.ai/
IDE.log

# ==================== 编译生成的二进制镜像/映射文件 ====================
*.elf
*.elf.size
*.map